{% extends '_base.html' %}
{% block title %}Admin Login{% endblock %}
{% block body %}
<div class="bc-login">
  <div class="bc-login__center">
    <div class="bc-login__logo">
      <img class="bc-logo" src="{{ url_for('static', filename='img/BCDC.png') }}" alt="Blockchain" width="331" height="49">
      <span style="display:none">Blockchain</span>
      Admin
    </div>
    <div class="bc-login__card">
      <div class="bc-login__head">
        <div class="bc-login__title">Admin Login</div>
      </div>
      <div class="bc-login__sub">User-Verwaltung</div>
      {% if error %}<div class="bc-login__error">{{ error }}</div>{% endif %}
      <form method="post" action="{{ url_for('admin_login') }}">
        <div class="bc-login__label">Benutzername</div>
        <input class="bc-login__input" type="text" name="username" autofocus required>
        <div class="bc-login__label" style="margin-top:14px;">Passwort</div>
        <input class="bc-login__input" type="password" name="password" required>
        <button class="bc-login__btn" type="submit">Anmelden</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}